{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<!-- BASIC FORM ELELEMNTS -->
<div class="row mt"><div class="col-lg-12"><div class="form-panel">
    <h4 class="mb"><i class="fa fa-angle-right"></i> Change Password</h4>
    <form class="form-horizontal style-form" method="post" action="/change_password/" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}

            <label class="col-sm-2 col-sm-2 control-label">Password:</label>
            <div class="col-lg-10">
                {{ user_form.password }}
            </div>
        </div>
        <!-- Provide a button to click to submit the form. -->
        <input type="submit" class="btn btn-primary" name="submit" value="Change password" />
    </form>

    <br>
    {% if group == 'regular' %}
     <form class="form-horizontal style-form" method="get" action="/payment/"
            enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="submit" value="Upgrade to Premium Account" />
    </form>
    {% elif group == 'premium' %}
     <form class="form-horizontal style-form" method="post" action="/upgrade_downgrade/"
            enctype="multipart/form-data">
            {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="submit" value="Downgrade to Regular Account" />
    </form>
    {% endif %} 

</div></div></div>
{% endblock %}