{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
       <h1>Edit</h1>

       <form id="user_form" method="post" action="/edit/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ athlete_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" class="btn btn-primary" name="edit" value="Edit" />
        </form><br>
        
        {% if group == 'regular' %}
         <form id="upgrade_form" method="get" action="/payment/"
                enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" name="submit" value="Upgrade" />
        </form>
        {% else %}
         <form id="upgrade_form" method="post" action="/upgrade_downgrade/"
                enctype="multipart/form-data">
                {% csrf_token %}
            <input type="submit" class="btn btn-primary" name="submit" value="Downgrade" />
        </form>
        {% endif %} 
{% endblock %}