{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}

                
        
                {% if group == "regular" %}   
                   <div class="col-lg-12 main-chart">  
                      <div class="row mt">
     
                      <div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<div class="profile-01 centered">
									<a href= "/workout_plan/"><p>WORKOUT PLAN</p></a>
								</div>
								</div>
								<p><b>See your exercises.</b></p>
							</div>
						</div><!-- /col-md-4 -->
                      	

                        <div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<div class="profile-01 centered">
									<a href= "/tracker/"><p>WEIGHT TRACKER</p></a>
								</div>
								</div>
								<p><b>See your weight progress.</b></p>
							</div>
						</div><!-- /col-md-4 -->
                      	
						<div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<div class="profile-01 centered">
									<a href= "/buddy_match/"><p>BUDDY MATCH</p></a>
								</div>
								</div>
								<p><b>Ask someone to workout with you.</b></p>
							</div>
						</div><!-- /col-md-4 -->                  	

                    </div><!-- /row -->

                </div><!-- /col-lg-9 END SECTION MIDDLE -->

			{% endif %}


            {% if group == "premium" %}   
               <div class="col-lg-12 main-chart">  
                  <div class="row mt">
 
                  <div class="col-md-6 mb">
						<!-- WHITE PANEL - TOP USER -->
						<div class="white-panel pn">
							<div class="white-header">
								<div class="profile-01 centered">
								<a href= "/workout_plan/"><p>WORKOUT PLAN</p></a>
							</div>
							</div>
							<p><b>See your exercises.</b></p>
						</div>
					</div><!-- /col-md-4 -->
                  	

                    <div class="col-md-6 mb">
						<!-- WHITE PANEL - TOP USER -->
						<div class="white-panel pn">
							<div class="white-header">
								<div class="profile-01 centered">
								<a href= "/tracker/"><p>WEIGHT TRACKER</p></a>
							</div>
							</div>
							<p><b>See your weight progress.</b></p>
						</div>
					</div><!-- /col-md-4 -->
                  	
				                
                </div><!-- /row -->


                 <div class="row mt">
					<div class="col-md-6 mb">
						<!-- WHITE PANEL - TOP USER -->
						<div class="white-panel pn">
							<div class="white-header">
								<div class="profile-01 centered">
								<a href= "/buddy_match/"><p>BUDDY MATCH</p></a>
							</div>
							</div>
							<p><b>Ask someone to workout with you.</b></p>
						</div>
					</div><!-- /col-md-4 -->  

 
                  <div class="col-md-6 mb">
						<!-- WHITE PANEL - TOP USER -->
						<div class="white-panel pn">
							<div class="white-header">
								<div class="profile-01 centered">
								<a href= "/screenings/"><p>SCREENINGS</p></a>
							</div>
							</div>
							<p><b>See your physical evaluations.</b></p>
						</div>
					</div><!-- /col-md-4 -->
                              	

                </div><!-- /row -->

            </div><!-- /col-lg-9 END SECTION MIDDLE -->

		{% endif %}
             
					
                 
                      
                  
    {% block script %}
    {% endblock %}
{% endblock %}