{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}

                
        
                {% if group == "regular" %}   
                   <div class="col-lg-12 main-chart">  
                      <div class="row mt">
     
                      <div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<div class="profile-01 centered">
									<a href= "/workout_plan/"><p>WORKOUT PLAN</p></a>
								</div>
								</div>
								<i style="font-size: 60px" class="fa fa-book fa-5x"></i>
								
							</div>
						</div><!-- /col-md-4 -->
                      	

                        <div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<div class="profile-01 centered">
									<a href= "/tracker/"><p>WEIGHT TRACKER</p></a>
								</div>
								</div>
								<i style="font-size: 60px" class="fa fa-tachometer fa-5x"></i>
							</div>
						</div><!-- /col-md-4 -->
                      	
						<div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<div class="profile-01 centered">
									<a href= "/buddy_match/"><p>BUDDY MATCH</p></a>
								</div>
								</div>
								<i style="font-size: 60px" class="fa fa-users fa-5x"></i>
							</div>
						</div><!-- /col-md-4 -->                  	

                    </div><!-- /row -->

                </div><!-- /col-lg-9 END SECTION MIDDLE -->

			{% endif %}


            {% if group == "premium" %}   
               <div class="col-lg-12 main-chart">  
                  <div class="row mt">
 
                  <div class="col-md-6 mb">
						<!-- WHITE PANEL - TOP USER -->
						<div class="white-panel pn">
							<div class="white-header">
								<div class="profile-01 centered">
								<a href= "/workout_plan/"><p>WORKOUT PLAN</p></a>
							</div>
							</div>
							<i style="font-size: 60px" class="fa fa-book fa-5x"></i>
						</div>
					</div><!-- /col-md-4 -->
                  	

                    <div class="col-md-6 mb">
						<!-- WHITE PANEL - TOP USER -->
						<div class="white-panel pn">
							<div class="white-header">
								<div class="profile-01 centered">
								<a href= "/tracker/"><p>WEIGHT TRACKER</p></a>
							</div>
							</div>
							<i style="font-size: 60px" class="fa fa-tachometer fa-5x"></i>
						</div>
					</div><!-- /col-md-4 -->
                  	
				                
                </div><!-- /row -->


                 <div class="row mt">
					<div class="col-md-6 mb">
						<!-- WHITE PANEL - TOP USER -->
						<div class="white-panel pn">
							<div class="white-header">
								<div class="profile-01 centered">
								<a href= "/buddy_match/"><p>BUDDY MATCH</p></a>
							</div>
							</div>
							<i style="font-size: 60px" class="fa fa-users fa-5x"></i>
						</div>
					</div><!-- /col-md-4 -->  

 
                  <div class="col-md-6 mb">
						<!-- WHITE PANEL - TOP USER -->
						<div class="white-panel pn">
							<div class="white-header">
								<div class="profile-01 centered">
								<a href= "/screenings/"><p>SCREENINGS</p></a>
							</div>
							</div>
							<i style="font-size: 60px" class="fa fa-bar-chart fa-5x"></i>
						</div>
					</div><!-- /col-md-4 -->
                              	

                </div><!-- /row -->

            </div><!-- /col-lg-9 END SECTION MIDDLE -->

		{% endif %}
         
        {% if group == "personal_trainer" %}   
           <div class="col-lg-12 main-chart">  
              <div class="row mt">
              	
				<div class="col-md-4 mb">
					<!-- WHITE PANEL - TOP USER -->
					<div class="white-panel pn">
						<div class="white-header">
							<div class="profile-01 centered">
							<a href= "/create_screening/"><p>CREATE SCREENING</p></a>
						</div>
						</div>
						<i style="font-size: 60px" class="fa fa-plus-square fa-5x"></i>
					</div>
				</div><!-- /col-md-4 -->      

				<div class="col-md-4 mb">
					<!-- WHITE PANEL - TOP USER -->
					<div class="white-panel pn">
						<div class="white-header">
							<div class="profile-01 centered">
							<a href= "/screenings/"><p>ACCESS SCREENINGS</p></a>
						</div>
						</div>
						<i style="font-size: 60px" class="fa fa-bar-chart-o fa-5x"></i>
					</div>
				</div><!-- /col-md-4 --> 

				<div class="col-md-4 mb">
					<!-- WHITE PANEL - TOP USER -->
					<div class="white-panel pn">
						<div class="white-header">
							<div class="profile-01 centered">
							<a href= "/manage_workout/"><p>MANAGE WORKOUTS</p></a>
						</div>
						</div>
						<i style="font-size: 60px" class="fa fa-book fa-5x"></i>
					</div>
				</div><!-- /col-md-4 -->            	     	

        </div><!-- /col-lg-9 END SECTION MIDDLE -->  
					
         {% endif %}        


         {% if group == "admin" %}   
           <div class="col-lg-12 main-chart">  
              <div class="row mt">

              <div class="col-md-6 mb">
					<!-- WHITE PANEL - TOP USER -->
					<div class="white-panel pn">
						<div class="white-header">
							<div class="profile-01 centered">
							<a href= "/admin/"><p>DASHBOARD</p></a>
						</div>
						</div>
						<i style="font-size: 60px" class="fa fa-database fa-5x"></i>
					</div>
				</div><!-- /col-md-4 -->
              	

                <div class="col-md-6 mb">
					<!-- WHITE PANEL - TOP USER -->
					<div class="white-panel pn">
						<div class="white-header">
							<div class="profile-01 centered">
							<a href= "/plan_manage/"><p>ACCOUNTS MANAGEMENT</p></a>
						</div>
						</div>
						<i style="font-size: 60px" class="fa fa-wrench fa-5x"></i>
					</div>
				</div><!-- /col-md-4 -->
              	
				                 	
            </div><!-- /row -->

        </div><!-- /col-lg-9 END SECTION MIDDLE -->  
					
         {% endif %}        
                      
                  
    {% block script %}
    {% endblock %}
{% endblock %}