{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
{% csrf_token %}

    
            <h1 class="page-header">Day {{day}}</h1><br>

          <h2 class="sub-header">Add Exercise</h2>
          
        <form id="user_form" method="post" action="/workout/days/{{day}}/"
                enctype="multipart/form-data">
          
          {% csrf_token %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Repetition</th>
                    <th>Sets</th>
                </tr>
              </thead>
              <tbody>
               
                        <tr>
                             <td align="left">  
                                    <select class="form-control" id="sel1" name="task_name">
                                    {% for task in task_list %}
                                    <option>{{ task.name }}</option>
                                    {% endfor %}
                                    </select>
                            </td>
                            {% for field in exercise_form %}
                            <td align="left"><div class="fieldWrapper">
                                    {{ field.errors }}
                                    {{ field }}
                            </div></td>
                            {% endfor %}
                        </tr>
            
              </tbody>
            </table>
          </div>
           <!-- Provide a button to click to submit the form. -->
            <input type="submit" class="btn btn-primary" name="submit" value="Add Exercise" />
        </form>

          
          <h2 class="sub-header">Exercises</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Repetition</th>
                    <th>Sets</th>
                  
                </tr>
              </thead>
              <tbody>
                
                 {% for exercise in exercises %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                            
                            <form method="post" action="/delete_exercise/" enctype="multipart/form-data">
                                {% csrf_token %}
                               <td align="left"> <button  name ='delete' type='submit' value='{{exercise.id}}'class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button> </td>
                               <input type="hidden" name="day" value="{{day}}">
                            </form>
                           

                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>


      </div>
    </div>  
    
{% endblock %}