{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
{% csrf_token %}

    <div class="container-fluid">
      <div class="row">
          <h2 class="sub-header" align= "center">Day 1</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Repetition</th>
                    <th>Sets</th>
                </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day1 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>
    
            <h2 class="sub-header"> Day 2</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day2 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>

            <h2 class="sub-header"> Day 3</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day3 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>

            <h2 class="sub-header"> Day 4</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day4 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>

            <h2 class="sub-header"> Day 5</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day5 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>

            <h2 class="sub-header"> Day 6</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day6 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>

            <h2 class="sub-header"> Day 7</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day7 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>

      </div>
    </div>     
{% endblock %}