{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
{% csrf_token %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/workout_plan/">Days<span class="sr-only">(current)</span></a></li>
            <li><a href="/workout/days/1">Day 1</a></li>
            <li><a href="/workout/days/2">Day 2</a></li>
            <li><a href="/workout/days/3">Day 3</a></li>
            <li><a href="/workout/days/4">Day 4</a></li>
            <li><a href="/workout/days/5">Day 5</a></li>
            <li><a href="/workout/days/6">Day 6</a></li>
            <li><a href="/workout/days/7">Day 7</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Workout Plan</h1>

          <h2 class="sub-header">Day 1</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Repetition</th>
                    <th>Sets</th>
                </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day1 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header"> Day 2</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day2 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>
        </div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header"> Day 3</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day3 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header"> Day 4</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day4 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header"> Day 5</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day5 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header"> Day 6</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day6 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header"> Day 7</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetition</th>
                        <th>Sets</th>
                    </tr>
              </thead>
              <tbody>
                
                 {% for exercise in day7 %}
                        <tr>
                            <td align="left">{{exercise.task.name}}</td>
                            <td align="left">{{exercise.weight}}</td>
                            <td align="left">{{exercise.repetition}}</td>
                            <td align="left">{{exercise.sets}}</td>
                        </tr>
                {% endfor %}         
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>     
{% endblock %}